/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.logo-name {
    font-family: 'Pacifico', cursive !important;
    font-size: 19px;
    font-weight: lighter;
}

.logo-name-big {
    font-family: 'Pacifico', cursive !important;
    font-size: 25px;
    font-weight: lighter;
    color: #ea4c88;
}

.logo-font {
    font-family: 'Pacifico', cursive !important;
    font-weight: lighter;
}

input:focus {
    outline: 0;
}