/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


::-webkit-scrollbar {
    display: none;
}

.logo-name {
    font-family: 'Pacifico', cursive !important;
    font-size: 19px;
    font-weight: lighter;
}

input:focus {
    outline: 0;
}